<extend name="Base:index" />
<block name="content">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        XXX列表
                            <span class="tools pull-right">
                                <a href="{:U('add')}" class="btn btn-success btn-link">新增</a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table  class="display table table-bordered table-striped" id="dynamic-table">
                                <thead>
                                <tr>
                                    <th>权限名</th>
                                    <th>权限路径</th>
                                    <th class="hidden-phone">操作</th>

                                </tr>
                                </thead>
                                <tbody>
                                <volist name="rows" id="row">
                                    <tr class="gradeX">
                                        <td>{:str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;',$row['level'])}{$row.name}</td>
                                        <td>{$row.path}</td>
                                        <td class="center hidden-phone">
                                            <a href="{:U('edit',[id=>$row['id']])}">编辑</a>
                                            |
                                            <a href="{:U('del',[id=>$row['id']])}">删除</a>
                                        </td>

                                    </tr>
                                </volist>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</block>