<extend name="Base:index"/>
<block name="content">
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    XXXd列表
                            <span class="tools pull-right">
                                <a href="{:U(add)}" class="btn btn-success btn-link">新增</a>
                            </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">

                        </select>
                        <table  class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>管理员ID</th>
                                <th>管理用户名</th>
                                <th>邮箱</th>
                                <th class="hidden-phone">操作</th>

                            </tr>
                            </thead>
                            <tbody>
                            <volist name="rows" id="row">
                                <tr class="gradeX">
                                    <td>{$row.id}</td>
                                    <td>{$row.username}</td>
                                    <td>{$row.email}</td>
                                    <td class="center hidden-phone">
                                        <a href="{:U('up_password',[id=>$row['id']])}">修改密码</a>
                                        |
                                       <a href="{:U('edit',[id=>$row['id']])}">编辑</a>
                                        |
                                        <a href="{:U('del',[id=>$row['id']])}">删除</a>

                                    </td>

                                </tr>
                            </volist>

                            </tbody>

                        </table>
                        {$pages}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</block>