<extend name="Base:index" />
<block name="content">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" action="{:U('add')}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputName">商品名称</label>
                            <input type="text" name="goods_name" class="form-control" id="exampleInputName" placeholder="请输入品牌名称" value='{$row.goods_name}'/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">超市价格</label>
                            <input type="number" name="market_price" class="form-control"  placeholder="请输入超市价格" value='{$row.market_price}'/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">平台价格</label>
                            <input type="number" name="shop_price" class="form-control"  placeholder="请输入平台价格" value='{$row.shop_price}'/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputSort">排序</label>
                            <input class=" form-control" id="exampleInputSort" name="sort" type="text"  placeholder="请输入排序数字,数字越小越靠前"  value='{$row.sort}'/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputSort">库存</label>
                            <input class=" form-control"  name="stock" type="text"  placeholder="请输入商品的数量"  value='{$row.sort}'/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIntro">商品分类</label>
                            <select name="goods_category_id">
                                <volist name="categorys" id="category">
                                    <option value="{$category.id}">{:str_repeat('&nbsp;&nbsp;',$category['level'])}{$category.name}</option>
                                </volist>
                            </select>

                        </div>
                        <div class="form-group">
                            <label >品牌分类</label>
                            <select name="brand_id">
                                <volist name="brands" id="brand">
                                    <option value="{$brand.id}">{$brand.name}</option>
                                </volist>
                            </select>
                        </div>

                        <label >活动类型</label>
                        <volist name="proms" id="promo">
                            <input type=checkbox name=prom_id value="{$promo.id}"/>{$promo.prom_type}
                        </volist>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                              <span class="input-group-addon">
                                                <input type="checkbox" aria-label="...">
                                              </span>
                                    <input type="text" class="form-control" aria-label="...">
                                </div>
                            </div>

                        </div>



                        <div class="form-group">
                            <label for="logo-upload">商品LOGO</label>
                            <input type="file" id="logo-upload">
                            <input type="hidden" name="logo" id="logo"/>
                            <img src="" id="logo-preview" style="max-width: 100px;max-height: 100px"/>
                        </div>







                        <div class="form-group">
                            <label for="logo-upload">商品相册</label>
                            <input type="file" id="logo2-upload">
                            <div id="2"></div>
                        </div>
                        <div class="checkbox">
                            <label>
                                是否上架:是<input type="checkbox" name="is_on_sale" value="1" >
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">商品详细内容</label>
                            <textarea id="container" >{$row.content}</textarea>
                        </div>
                        <input type="hidden" id="content" name="content">

                        <button type="submit" class="btn btn-primary"> 创建 </button>
                    </form>

                <!--</div>-->
            <!--</section>-->
        <!--</div>-->
    <!--</div>-->
</block>
<block name="extra">
    <script src="__UEDITOR__/ueditor.config.js"></script>
    <script src="__UEDITOR__/ueditor.all.js"></script>
    <script type="text/javascript">
        var ue = UE.getEditor('container');
        $(document).ready(function () {
            var value = $("#container").val();
            UE.getEditor('container').setContent(value, false);
        });
        var SetValue = function () {
            var value = UE.getEditor('container').getContent();
            $("#content").val(value);
        };


    </script>
    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="__JS__/jquery-1.10.2.min.js"></script>
    <script src="__JS__/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/jquery.nicescroll.js"></script>
    <script src="__UPLOADIFY__/jquery.uploadify.min.js"></script>

    <script src="__LAYER__/layer.js"></script>


    <!--common scripts for all pages-->
    <!--<script src="__JS__/scripts.js"></script>-->
    <script src="http://admin.shop.com/Public/ext/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript">
        $(function(){

            $('#logo-upload').uploadify({
                height:30,
                swf:'__UPLOADIFY__/uploadify.swf',
                uploader:'{:U("Upload/upload")}',
                width:120,
                buttonText:'商品logo',
                fileTypeExts:'*.jpg;*.jpeg;*.jpe;*.png;*.gif',
                onUploadSuccess:function(file,data){
                    data= $.parseJSON(data);
                    if(data.status){
                        $('#logo').val(data.url);
                        $('#logo-preview').attr('src',data.url);
                        $('#logo-upload').attr('logo',data.url);
                    }else{
                        layer.alert(data.msg,{icon:5});
                    }
                },
            });
            $('#logo2-upload').uploadify({
                height:30,
                swf:'__UPLOADIFY__/uploadify.swf',
                uploader:'{:U("Upload/upload")}',
                width:120,
                buttonText:'商品相册',
                fileTypeExts:'*.jpg;*.jpeg;*.jpe;*.png;*.gif',
                onUploadSuccess:function(file,data){
                    data= $.parseJSON(data);
                    if(data.status){
                        $('#logo').val(data.url);
                        $('#2').append('<img src="'+data.url+'" width="100px" height="100px">');
                        $('#2').append('<input type="hidden" name="path[]" value="'+data.url+'"/>')
                    }else{
                        layer.alert(data.msg,{icon:5});
                    }
                }
            })
        })

    </script>
</block>
