<extend name="Base:index"/>
<block name="content">
    <div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    XXX列表
                    <div class="row">
                       <div >
                        <form class="form-inline" action="{:U('search')}" method="post">
                            <div class="form-group  ">
                                <label for="exampleInputName2">商品名字</label>
                                <input type="text" class="form-control" id="exampleInputName2" name="name" value="{:I('get.name')}">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">商品分类</label>
                                <select name="category_id" class="form-control">
                                    <option value="0">请选择</option>
                                    <volist name="categorys" id="category">
                                        <option value="{$category.id}">{$category.name}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">品牌</label>
                                <select name="brand_id" class="form-control">
                                    <option value="0">请选择</option>
                                    <volist name="brands" id="brand">
                                        <option value="{$brand.id}">{$brand.name}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">价格区间</label>
                                <input type="text" name="min" style="width: 50px;" class="form-control" value="{:I('get.min')}" /> -
                                <input type="text" name="max"  style="width: 50px;" class="form-control" value="{:I('get.max')}" />
                            </div>
                           <!-- <div class="form-group">
                                <label for="exampleInputName2">是否上架</label>
                                <input type="checkbox" name="goods_status[]" <if condition="in_array(1, I('get.goods_status'))">checked</if> value="1" >是
                                <input type="checkbox" name="goods_status[]" <if condition="in_array(0, I('get.goods_status'))">checked</if> value="0" >否
                            </div>-->
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                       </div>
                        <div class="col-lg-6">
                        <!--    <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">

                            </div>-->
                        </div>
                    </div><!-- /.row -->
                            <span class="tools pull-right">
                                <a href="{:U(add)}" class="btn btn-success btn-link">新增</a>
                            </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>品牌名称</th>
                                <th>logo</th>
                                <th>品牌描述</th>
                                <th>所属分类</th>
                                <th>超市价格</th>
                                <th>平台价格</th>
                                <th>库存</th>
                                <th>是否上架</th>
                                <th class="hidden-phone">操作</th>

                            </tr>
                            </thead>
                            <tbody>
                            <volist name="rows" id="row">
                                <tr class="gradeX">
                                    <td>{$row.goods_name}</td>
                                    <td><img src="{$row.logo}" width="30px" height="20px" alt=""></td>
                                    <td>{$row.content}</td>
                                    <td>{$row.name}</td>
                                    <td>{$row.market_price}</td>
                                    <td>{$row.shop_price}</td>
                                    <td>{$row.stock}</td>
                                    <td>{$row.is_on_sale}</td>
                                    <td class="center hidden-phone">
                                        <a href="{:U('edit',[id=>$row['id']])}">查看</a>
                                        |
                                        <a href="{:U('pics',[id=>$row['id']])}">查看相册</a>
                                        |
                                        <a href="{:U('edit',[id=>$row['id']])}">编辑</a>
                                        |
                                        <a href="{:U('remove',[id=>$row['id']])}">删除</a>
                                    </td>

                                </tr>
                            </volist>
                            </tbody>

                        </table>
                    </div>
                </div>
                {$page}
            </section>
        </div>
    </div>
</div>
</block>
<block name="extra">
    <link rel="stylesheet" href="__CSS__/page.css">
</block>